
.App{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.aside{
   position: sticky;
   top: 10%;
   padding: 0 5%;
}
.article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8%;
    margin: 1%;
    padding: 0 2%;
}
@media (max-width:412px) {
    .App{
        grid-template-columns: 1fr;
    }
    .article{
        grid-template-columns: 1fr;
    }
}