header{
    position: sticky;
    top: 0;
    background-color: rgb(7, 8, 46);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1,h4{
    margin: 0;
    padding: 0;
}
.vermenu{
    display: none;
}
@media (max-width:412px) {
    .vermenu{
        border: solid 2px blue;
        display: inline-block;
        background-color: cornflowerblue;
        font-weight: bold;
    }
}